<!-- user listing -->

<mat-card *ngIf="roleAdmin()">
  <mat-card-header>
    <h2>Users</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fullName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ status }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

<!-- ----------------------------Cards---------------------------- -->
<div class="container mt-5" style="margin-top: 120px !important">
  <div class="row text-center" *ngIf="!roleAdmin()">
    <div
      (click)="getTotUser()"
      class="col-xl-4 col-lg-4 col-sm-12 col-md-6 card text-white bg-dark mb-3 me-3"
      style="width: 25rem"
    >
      <div class="card-body text-center">
        <h5 class="card-title">TOTAL REGISTERED PEOPLE</h5>
        <div>
          {{ total }}
        </div>
        <!-- <a href="#" class="card-link">Total</a> -->
      </div>
    </div>

    <div
      (click)="getTotUser('admin')"
      class="col-xl-4 col-lg-4 col-sm-12 col-md-6 card text-white bg-dark mb-3 me-3"
      style="width: 25rem"
    >
      <div class="card-body text-center">
        <h5 class="card-title">ADMINS</h5>
        <div>
          {{ totalAdmin }}
        </div>
      </div>
    </div>

    <div
      (click)="getTotUser('user')"
      class="col-xl-4 col-lg-4 col-sm-12 col-md-6 card text-white bg-dark mb-3 me-3"
      style="width: 25rem"
    >
      <div class="card-body text-center">
        <h5 class="card-title">USERS</h5>
        <div>
          {{ totalUsers }}
        </div>
      </div>
    </div>

    <div
      (click)="getToStatus(true)"
      class="col-xl-4 col-lg-4 col-sm-12 col-md-6 card text-white bg-dark mb-3 me-3"
      style="width: 25rem"
    >
      <div class="card-body text-center">
        <h5 class="card-title">ACTIVE USERS</h5>
        <div>
          {{ totalActive }}
        </div>
      </div>
    </div>

    <div
      (click)="getTotUser('user&status=false')"
      class="col-xl-4 col-lg-4 col-sm-12 col-md-6 card text-white bg-dark mb-3 me-3"
      style="width: 25rem"
    >
      <div class="card-body text-center">
        <h5 class="card-title">NON-ACTIVE USERS</h5>
        <div>
          {{ totalInActive }}
        </div>
      </div>
    </div>

    <div
      (click)="getAllDeleted()"
      class="col-xl-4 col-lg-4 col-sm-12 col-md-6 card text-white bg-dark mb-3 me-3"
      style="width: 25rem"
    >
      <div class="card-body text-center">
        <h5 class="card-title">DELETED USERS</h5>
        <div>
          {{ totDeleted }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-5" style="height: 140px !important"></div>

<!-- ------------------------------Deleted users-------------------- -->
