<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign up</h3>

            <form class="form1Example3" [formGroup]="registerform">
              <!-- Name-->
              <label class="form-label" for="typeNameX-2">Name</label>
              <div class="form-outline mb-4">
                <input
                  type="text"
                  class="form-control form-control border"
                  (input)="onFullName($any($event.target).value)"
                  input
                  formControlName="fullName"
                />
              </div>

              <!-- email -->
              <label class="form-label" for="typeEmailX-2">Email</label>
              <div class="form-outline mb-4">
                <input
                  type="email"
                  class="form-control form-control border"
                  (input)="onEmail($any($event.target).value)"
                  input
                  formControlName="id"
                />
              </div>

              <!-- Password -->
              <mat-label class="form-label">Password</mat-label>
              <div class="input-group mb-4">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control form-control border"
                  (input)="onPassword($any($event.target).value)"
                  input
                  formControlName="password"
                />
                <button class="btn btn-outline-secondary">
                  <mat-icon
                    class="input-group"
                    atSuffix
                    (click)="visibility()"
                    >{{
                      showPassword ? "visibility" : "visibility_off"
                    }}</mat-icon
                  >
                </button>
              </div>

              <!-- Confirm password -->
              <mat-label class="form-label">Confirm Password</mat-label>
              <div class="input-group mb-4">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control form-control border"
                  (input)="onConfirmPassword($any($event.target).value)"
                  input
                  formControlName="confirmPassword"
                />
                <button class="btn btn-outline-secondary">
                  <mat-icon
                    class="input-group"
                    atSuffix
                    (click)="visibility()"
                    >{{
                      showPassword ? "visibility" : "visibility_off"
                    }}</mat-icon
                  >
                </button>
              </div>

              <!-- Comparing passwords -->
              <div class="form-outline mb-4">
                <label
                  class="form-label btn-danger"
                  style="color: red"
                  *ngIf="confirmPassword != password"
                  >Passwords doesn't match!!
                </label>
              </div>

              <button
                (click)="proceedRegistration()"
                *ngIf="
                  fullName.length &&
                  email.length &&
                  password.length &&
                  confirmPassword.length != 0 &&
                  confirmPassword === password
                "
                class="btn btn-primary btn-lg btn-block"
                type="submit"
              >
                Sign-Up
              </button>
              <p>
                Already have an account? <a routerLink="../signin">Sign In</a>
              </p>

              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
